@{
    ViewData["Title"] = "About Random List";
}
<div class="page-header headerBottomLine"><h2>@ViewData["Title"]</h2></div>

<p class="text-justify">
    This application generates a list of 10,000 numbers in random order each time it is run.
    Each number in the list should be unique and be between 1 and 10,000 (inclusive).
</p>
<br />
