@{
    ViewData["Title"] = "Random List Generator";
}

<div class="page-header headerBottomLine">
    <h2>@ViewData["Title"]</h2>
</div>

@*Run generator*@
<div class="row">
    <div class="col-xs-12 col-md-3">
        <a asp-action="Create" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-play"></span> Run
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12 col-md-12">
        <img class="img-responsive" src="~/images/pay-2446669_1280.jpg" alt="Numbers" />
    </div>
</div>
<br />




