@{
    ViewData["Title"] = "Random List Generator";
}

<h2>@ViewData["Title"]</h2>
<br/>

<a asp-action="Create" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-play"></span> Generate
</a>  



